includes:
    - phpstan-baseline.neon

parameters:
    databaseMigrationsPath:
        - database/migrations
        - vendor/seatplus/connector/database/migrations
        - vendor/seatplus/eveapi/database/migrations
        - vendor/seatplus/broadcast-hub/database/migrations
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

